 *{
    font-family: sans-serif ;
    background-color: steelblue;
 }

html{
    scroll-behavior: smooth;
}

.navbar{
    text-align: right;
    font-size: 25px;
    background-color:lightseagreen;
    padding:15px;
}
.navbar a{
    color:navy;
    font-size:30px;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration:underline;
    color:red;
}

li{
    text-decoration:none;
    display:inline;
}

main h1{
    text-align:center;
    font-size:50px;
}
h2{
    font-size:40px;
    text-decoration:underline;
}
#aboutme {
    display: block;
    box-sizing: border-box;
    border: solid lightseagreen 10px;
    padding: 15px;
    margin:50px;
}
#aboutme p{
    font-size:25px;
}

section h2{
    text-decoration: underline;
    font-size:40px;
}

#work a{
    display:block;
    padding:30px;
    align-items: normal;
    box-sizing: border-box;
    border: solid lightseagreen 10px;
    padding: 5px;
    margin:5px;
}
#contactme ul{
    display:inline-block;
    box-sizing: border-box;
    border: solid lightseagreen 10px;
    padding: 5px;
    margin:5px;
}

footer h2{
    font-size:40px;
    text-decoration:underline;
}

.links a {
    text-decoration:none;
    font-size:30px;
    color:navy;
    margin:20px;
}

.links a:hover {
    text-decoration:underline;
    color:red;
}

@media screen and (max-width:1000px){
    .navbar{
        background-color: purple;
    }
};
